<div class="container createuser-container">

  <mat-card style="border: 1px solid lightgrey;background-color: #F5F5F5;">

    <mat-card-content>
      <form [formGroup]="createUserForm">
        <div class="row">
          <div class="col-xs-6" style="font-size: 18px;margin-left: 200px;color: red">
            <div class="form-group">
              <b><u>Create User</u></b>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-2">
            <div class="form-group">
              <span>First Name</span>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="form-group">
              <input formControlName="firstName" [(ngModel)]="firstName" type="text"
                     class="form-control text-style" placeholder="First Name">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2">
            <div class="form-group">
              <span>Last Name</span>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="form-group">
              <input type="text" formControlName="lastName" [(ngModel)]="lastName"
                     class="form-control text-style" placeholder="Last Name">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2">
            <div class="form-group">
              <span>User Name</span>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="form-group">
              <input type="text" formControlName="userName" [(ngModel)]="userName"
                     class="form-control text-style" placeholder="User Name">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2">
            <div class="form-group">
              <span>Password</span>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="form-group">
              <input type="password" formControlName="password" [(ngModel)]="password"
                     class="form-control text-style" placeholder="Password">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-2">
            <div class="form-group">
              <span>Email</span>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="form-group">
              <input type="text" formControlName="email" [(ngModel)]="email"
                     class="form-control text-style" placeholder="EMail">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-2">
            <div class="form-group">
              <span>Phone</span>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="form-group">
              <input type="text" formControlName="phoneNumber"
                     [(ngModel)]="phoneNumber" class="form-control text-style" placeholder="Phone Number">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-2">
            <div class="form-group">
              <span>Country</span>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="form-group">
              <select class="form-control form-control-alt select-style"
                      id="exampleFormControlSelect1" formControlName="country" [(ngModel)]="country">
                <option value="">Select Country</option>
                <option *ngFor="let counter of counterPartyData" value="{{counter.id}}">{{counter.name}}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <button class="btn btn-lg btn-danger" (click)="submit();">
                Submit
              </button>
            </div>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>


