.container-one {
	width: 100%;
	margin-left: auto;
}

.select-disable-style{
 	border:1px solid #ccc;
	border-radius:3px;
	font-size: 14px;
	background-color: rgba(149,161,162,.2);
	font-family: 'Source Sans Pro',Arial,sans-serif;
}

a{
	cursor: pointer;
	color: rgb(205, 0, 40);
}

.text-disable-style{
	border: 1px solid #ccc;
	border-radius: 2px;
	font-size: 13px;
	cursor: default;
	background-color: #dddedf;
	opacity: 8;
	font-family:'Source Sans Pro',Arial,sans-serif;
}

.select-style{
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 14px;
	background-color: #fff;
	font-family: 'Source Sans Pro',Arial,sans-serif;
	width:140%;
}

.text-style{
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 14px;
	background-color: #fff;
	font-family: 'Source Sans Pro',Arial,sans-serif;
	overflow-y: scroll;
	overflow-x: hidden;
	height: auto;
}
