<div class="container edituser-container">

    <mat-card style="border: 1px solid lightgrey; background-color: #F5F5F5;">

      <mat-card-content>
        <div class="row">
          <div class="col-xs-6" style="font-size: 18px;color:red;">
              <div class="form-group">
                <b><u>Profiles List</u></b>
              </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <ag-grid-angular
              class="ag-theme-balham"
              [gridOptions]="userDetails"
              style="width: 100%;"
              [pagination]="true"
              [paginationPageSize]=5
              [overlayNoRowsTemplate]="overlayNoRowsTemplate"
              (cellClicked)="userAction($event)"
              (gridReady)="onGridReady($event)">
            </ag-grid-angular>
          </div>
        </div>
      </mat-card-content>

    </mat-card>
  </div>
