.sg-main-header{
  position:relative;
  top:0;
  left:0;
  right:0;
  background-color:#fff;
  height:92px;
  line-height:20px;
  width:auto;
}

a{
  cursor:pointer;
  color:rgb(205,0,40);
}

.text-style{
  border:1px solid #ccc;
  border-radius:3px;
  font-size:14px;
  background-color:#fff;
  font-family: 'Source Sans Pro',Arial,sans-serif;
  overflow-y: scroll;
  overflow-x:hidden;
  height:auto;
}

.sesame-logo{
  display:inline-block;
  vertical-align:middle;
  width:88px;
  height:42px;
}


.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-form-2{
    padding: 5%;
    background: #0062cc;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 80px;
    border-radius: 1rem;
    padding: 5px;
    border: none;
    cursor: pointer;
    margin-left:2px;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}
.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}
