<div class="container login-container">
  <div class="row">
    <div class="col-md-6 login-form-1">
      <h3>Sign In</h3>
      <mat-card style="border: 1px solid lightgrey;background-color: bisque;">
      <mat-card-content>
      <form [formGroup]="loginForm">
        <div class="form-group">
          <input type="text" class="form-control" formControlName="userName" [(ngModel)]="userName" placeholder="Your UserId *" value="" required/>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" formControlName="password" [(ngModel)]="password" placeholder="Your Password *" value="" required/>
        </div>
        <div class="form-group" style="margin-top: 5px;">
          <input type="submit" class="btnSubmit" value="Login" (click)="login();"/>
          <input type="submit" class="btnSubmit" value="Sign Up" (click)="register();"/>
        </div>
      </form>
      </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
